.content{
    width: 100%;
    grid-row: 2;
    display: grid;
    grid-template-columns: 5vw 40vw 5vw 40vw 5vw;
    grid-template-rows: 15% 70% 10%;
    @media (max-width: 972px) {
        grid-template-columns: 5vw 85vw 5vw;
        grid-template-rows: 5% 50% 40% 5%;
    }
    @media (max-width: 812px) {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    &__img{
        grid-column: 2/3;
        grid-row: 2/3;
        margin: 1vh;
        height: 100%;
        width: 100%;
        border-radius: 5px;
        max-width: 450px;
        min-width: 440px;
        min-height: 315px;
        max-height: 320px;
        @media (max-width: 972px) {
            grid-row: 2/3;
            grid-column: 2/3;
            min-height: 150px;
            min-width: 180px;
            max-height: 300px;
            max-width: 380px;
        }
        @media (max-width: 500px) {
            min-width: 400px;
            min-height: 280px;
            max-width: 420px;
            max-height: 290px;
        }
    }
    &__subtitle{
        font-size: 1.8rem;
        color: $color-2;
        @media (max-width: 972px) {
        }
    }
    &__text{
        font-size: 1.1rem;
        color: $color-2;
        text-indent: 15px;
        line-height: 1.3rem;
        padding-top: 10px;
        @media (max-width: 972px) {
            font-size: 0.9;
            text-align: justify;
            padding-right: 5vw;
            padding-top: 10px;
        }
        @media (max-width: 400px) {
            padding-right: 20vw;
        }
        @media (max-width: 400px) {
            padding-right: 20vw;
        }
    }
    &__container{
        grid-column: 4/6;
        grid-row: 2/3;
        margin: 1vh 1vw;
        padding: 2vh 2vw;
        @media (max-width: 972px) {
            grid-row: 3/4;
            grid-column: 2/3;
            height: 100%;
            text-align: center;
        }
    }
}