.contact{
    &__text{
        grid-row: 3;
        grid-column: 2/4;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        @media (max-width: 900px) {
            grid-row: 2/3;
            grid-column: 2/4;
        }
        &--subtitle{
            font-size: 2rem;
            color: $color-7;
            text-align: left;
            padding-right: 2rem;
        }
        &--prg{
            font-size: 1.5rem;
            text-decoration: underline;
            color: $mostasa;
        }
    }
    &__social{
        grid-row: 5;
        grid-column: 3;
        display: grid;
        grid-template-columns: 2;
        grid-template-rows: 2;
        row-gap: 4vh;
        column-gap: 2vw;
        margin-bottom: 8vh;
        @media (max-width: 1172px) {
            grid-column: 2;
            margin-top: 2vh;
        }
        @media (max-width: 982px) {
            grid-column: 1;
            margin-left: 15vw;
        }
        @media (max-width: 900px) {
            grid-row: 3;
            grid-column: 1/5;
            display: flex;
            flex-direction: column;
            margin-top: 3vh;
        }
        @media (max-width: 600px) {
            grid-column: 1/5;
            grid-row: 3/4;
            margin-left: 15vw;
        }
        @media (max-width: 494px) {
            padding-top: 4vh;
            margin-left: 0px;
            width: 100vw;
        }
        .top-left{
            grid-row: 1;
            grid-column: 1;
        }
        .top-right{
            grid-row: 1;
            grid-column: 2;
        }
        .bottom-right{
            grid-column: 2;
            grid-row: 2;
        }
        .bottom-left{
            grid-column: 1;
            grid-row: 2;
            
        }

        .social__block{
            background-color: $color-6;
            border-radius: 15px;
            width: 400px;
            display: flex;
            flex-direction: row;
            padding-left: 2vw;
            padding-top: 2vh;
            box-shadow: 0px 0px 20px -3px rgba(0,0,0,0.75);
            &:hover{
                background-color: $btn-pressed;
                box-shadow: 0px 0px 00px -3px rgba(0,0,0,0.75);
                transform: scale(0.99);
            }
            @media (max-width: 494px) {
                border-radius: 0px;
                width: 100vw;
                padding: 0px;
            }
            &--title{
                font-size: 2rem;
                color: $color-1;
            }
            &--img{
                height: 48px;
                width: 48px;
                margin-right: 10vw;
                @media (max-width: 900px) {
                    padding-bottom: 0.6vh;
                }
            }
            
        }
    }
    &__more{
        grid-row: 6;
        grid-column: 1/6;
        padding: 0 15vw;
        background-color: $color-6;
        margin-top: 1vh;
        &--text{
            padding-top: 8vh;
            @media (max-width: 900px) {
                grid-row: 4/5;
                padding: 2vh 1vh;
            }
        }
        @media (max-width: 900px) {
            grid-row: 4/5;
            padding: 0;
        }
    }
    
}