.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.2vh 0;
        &__nav{
        background-color: $color-1;
        height: 15vh;
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
    &__list{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: end;
        margin-right: 6vw;
    }
}
.list__item{
    .header__list &{
        font-size: 1.4rem;
        color: $color-6;
        &:hover{
            color: $mostasa;
            font-weight: bold;
            text-decoration: underline;
        }
        &:focus{
            transform: scale(1.4);
        }
    }
}

