.container{
    display: grid;
    grid-template-rows: 5;
    grid-template-columns: 3vw 94vw 3vw;
    row-gap: 20vh;
    @media (max-width: 972px) {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 5vh;
    }
    @media (max-width: 480px) {
        row-gap: 0vh;
    }
    
    &--main{
        grid-row: 1;
        background-color: $color-1;
        display: grid;
        grid-template-columns: 5vw 10vw 45vw 40vw;
        grid-template-rows: 1;
        @media (max-width: 1226px) {
            grid-template-columns: 5vw 10vw 80vw 5vw;
            grid-template-rows: 2;
        }
        @media (max-width: 812px) {
            grid-template-columns: 3vw 94vw 3vw;
            grid-template-rows: 3;
        }
    }
    &__img{
        .container--main &{
            grid-row: 1;
            grid-column: 3/4;
            @media (max-width: 812px) {
                grid-column: 2/3;
                width: 100%;
                grid-row: 1;
            }
            @media (max-width: 742px) {
                grid-row: 2;
            }
        }
        
    }

    &--about{
        grid-row: 2;
        grid-column: 2/3;
        background-color: $color-4;
        border-radius: 15px;
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: 20% 80vh;
        @media (max-width: 972px) {
            padding-bottom: 10vh;
        }
        @media (max-width: 812px) {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            padding-right: 0;
        }
        @media (max-width: 500px){
            border-radius: 0;
        }
        &__title{
            max-width: 99%;
            display: flex;
            flex-direction: row;
            padding: 3vh;
            border-radius: 5px 5px 0 0;
            background-color: $color-2;
            border-bottom: solid 1vh $color-6;
            @media (max-width: 500px){
                border-radius: 0;
                max-width: 100%;
            }
        }
        
    }

    &--projects{
        grid-row: 3;
        display: grid;
        grid-template-columns: 15% 65%;
        grid-template-rows: 15% 80% 10%;
        width: 100vw;
        height: 100%;
        background-color: $color-2;
        @media (max-width: 900px) {
            grid-template-rows: 15% 85% 5%;
            padding-bottom: 15vh;
        }
    }

    &--contact{
        grid-row: 4;
        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-rows: 15vh 5vh 15vh 5vh 40vh 20vh 20vh;
        grid-template-columns: 15% 10% 60% 15%;
        @media (max-width: 900px) {
            grid-template-rows: 10vh 15vh 50vh 20vh;
            grid-template-columns: 1;
            row-gap: 2vh;
        }
    }
}

.text{
    &--title{
        .container--main &{
            grid-row: 1;
            grid-column: 2/4;
            color: $mostasa-2;
            &__title{
                font-size: 7rem;
            }
            @media (max-width: 742px) {
                font-size: 4rem;
            }
            @media (max-width: 742px) {
                grid-row: 1;
                grid-column: 2/4;
            }
            
        }

        .container--about &{
            font-size: 4rem;
            color: $color-1;
        }

        .container--projects &{
            font-size: 4rem;
            margin-left: 4vw;
            margin-top: 3vh;
            grid-row: 1;
            grid-column: 1/3;
            width: 100%;
            color: $mostasa;
            
            
        }

        .container--contact &{
            font-size: 4rem;
            margin-left: 4vw;
            grid-row: 1/2;
            color: $color-2;
            font-weight: 900;
            @media (max-width: 742px) {
                grid-column: 1/4;
            }
            @media (max-width: 500px) {
                row-gap: 1vh;
            }
        }
    }
    &--prg{
        .container--main &{
            font-size: 1.3rem;
            grid-row: 1;
            grid-column: 4/5;
            padding: 4em;
            color: $color-2;
            @media (max-width: 1226px) {
                grid-row: 2;
                grid-column: 2/4;
            }
            @media (max-width: 742px) {
                grid-row: 3;
                padding: 1.3em;
            }
        }
    }
    &--responsive{
        &__title{
            @media (max-width: 1300px) {
                width: 100vw;
            }
        }
    }
}







