.container{
    display: grid;
    grid-template-rows: 5;
    grid-template-columns: 1;
    row-gap: 20vh;
    &--main{
        grid-row: 1;
        background-color: $color-1;
        display: grid;
        grid-template-columns: 5% 10% 45% 40%;
        grid-template-rows: 1;
    }
    &__img{
        .container--main &{
            grid-row: 1;
            grid-column: 3/4;
        }
    }

    &--about{
        grid-row: 2;
        margin: 2vh 12vw 20vh ;
        height: 100vh;
        background-color: $color-4;
        border-radius: 15px;
        &__title{
            display: flex;
            flex-direction: row;
            padding: 3vh;
            border-radius: 5px 5px 0 0;
            background-color: $color-2;
            border-bottom: solid 1vh $color-6;
        }
    }

    &--projects{
        grid-row: 3;
        display: grid;
        grid-template-columns: 15% 30% 10% 30% 1fr;
        grid-template-rows: 20% 70% 10%;
        width: 100vw;
        height: 100vh;
        background-color: $color-2;
    }

    &--contact{
        grid-row: 4;
        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-rows: 15% 5% 15% 5% 40% 20% 20%;
        grid-template-columns: 15% 10% 60% 15%;
    }
}

.text{
    &--title{
        .container--main &{
            font-size: 6rem;
            grid-row: 1;
            grid-column: 2/4;
            width: 50%;
            color: $mostasa-2;
        }

        .container--about &{
            font-size: 4rem;
            color: $color-1;
        }

        .container--projects &{
            font-size: 4rem;
            margin-left: 4vw;
            margin-top: 3vh;
            grid-row-start: 1;
            color: $mostasa;
        }

        .container--contact &{
            font-size: 4rem;
            margin-left: 4vw;
            grid-row: 1/2;
            color: $color-2;
            font-weight: 900;
        }
    }
    &--prg{
        .container--main &{
            font-size: 1.3rem;
            grid-row: 1;
            grid-column: 4/5;
            padding: 4em;
            color: $color-2;
        }
    }
}







