$backgroud-primary: #082742;
$background-secondary: #0F4C81;
$background-third: #0D3E69;
$complementary-color: #79C27B;

$primary-color: #fff;
$secondary-color: #000;

$primary-gray-color:#525252;
$secondary-gray-color: #cecece;
$third-gray-color: #cccccc;
