$color-1: #fff;
$color-2: #000000a6;
$color-3: #79C27B;
$color-4: #f0f0f0fd;
$color-5: #c5c5c5;
$color-6: #646464;
$color-7: #000000;

$mostasa: #e7a61a;
$mostasa-2: #e7a61ac2;

$verde: #79C27B;
$btn-pressed: #4d4d4d;
